<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	
	<!-- 没有hibernate的配置文件 -->
	<!-- 配置连接池  需要引入jdbc.properties-->
	<!-- 引入外部属性文件 -->
	<context:property-placeholder location="classpath:jdbc.properties"/>
	
	<!-- 配置c3p0连接池 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driver}"></property>
			<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="user" value="${jdbc.user}" />
		<property name="password" value="${jdbc.password}" />
	</bean>
	
	<!-- 配置hibernate3 -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<!-- 管理连接池 -->
		<property name="dataSource" ref="dataSource" />
		<!-- 配置hibernate的属性 -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.connection.autocommit">false</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<!-- 加载映射 -->
		<!--<property name="mappingResources">
			<list>
				<value>com/github/jlran/vo/Book.hbm.xm</value>
			</list>
		</property> -->
		
		<!-- 这种方式在许多的映射文件时候，只需要这样写 -->
		<property name="mappingDirectoryLocations">
			<list>
				<value>classpath:com/github/jlran/vo</value>
			</list>
		</property>
	</bean>
	
	<!-- 注意，这里一定要是prototype，否则会出现问题 -->
	<bean id="bookAction" class="com.github.jlran.action.BookAction" scope="prototype">
		<!-- 注入 -->
		<property name="bookService" ref="bookService" />
	</bean>
	
	<!-- 配置service层 -->
	<bean id="bookService" class="com.github.jlran.service.BookService">
		<property name="bookDao" ref="bookDao" />
	</bean>
	
	<!-- 配置dao层 -->
	<bean id="bookDao" class="com.github.jlran.dao.BookDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	
	<!-- 管理事务 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- 注解开启事务   然后需要在service上添加 @T....-->
	<tx:annotation-driven transaction-manager="transactionManager"/>
</beans>
